body {
	text-align: center;
	font-size: 20px;
}

h1 {
	color: blue;
}

#my-app {
	background-color: blueviolet;
}

#my-app2 {
	color: orange;
}

#conteudo {
	color: red;
}

categoria {
	
}

select{
	color: green;

}

.laranjado{
	color: rgb(240, 130, 6);
	font-size: 30px;
}